.btn-book {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border: none;
  background-color: #cd204b;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
   box-shadow: 5px 5px 10px 3px green;
}
.btn-con {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-hairstyle {
  width: 100px;
  margin-top: 20px;
  height: 100px;
  border: none;
  background-color: #cd204b;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
   box-shadow: 5px 5px 10px 3px green;
}
.btn-service {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border: none;
  background-color: #cd204b;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
   box-shadow: 5px 5px 10px 3px green;
}
.text-book-now,
.sow-hair,
.our-services {
  padding: 10px;
  color: white;
   box-shadow: 5px 5px 10px 3px green;
}
